@import url('https://fonts.googleapis.com/css2?family=Karla');

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgb(227, 219, 216);
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    padding: 40px;
}