@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

/* The body class targets the <body> tag in your html file */
body {
    background-color: rgb(227, 219, 216);
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: #88676f;
}

/* The following classes are used to style the corresponding html classes */
.menu {
    padding: 10px;
    background-color: #ffeaf3;
    font-size: 24px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #fe309b;
}

#menu-home {
    color: #fe309b;
}

.content {
    padding: 40px;
}

.splash {
    display: flex;
    margin: 15px;
    padding: 5px;
    gap: 50px;
}

#splash-intro {
    color: #fe309b;
}

.projects {
    display: flex;
    gap: 24px;
}

.projects .btn {
    background: #fe309b;
    border: none;
    border-radius: 16px;
}